/* header {
    width: 81%;
    background-color: goldenrod;
    font-size: 40px;
    font-weight: bold;
    margin-left: 5%;
}
header select {
    float: left;
    margin: 10px 0px 0px 20px;
    width: 80px;
    height: 30px;
}
header div div {
    width: 45%;
    display: inline-block;
    text-align: right;
}
header button {
    float: right;
    margin: 10px 0px 0px 20px;
    width: 80px;
    height: 30px;
} */

/* ChartTools.css */

.charttools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* 좌우 마진을 20px */
    /* margin: 0 5%; */
    background-color: rgb(200, 200, 200); /* 헤더툴 배경 색상 */
    border-bottom: 1px solid #dee2e6; /* 헤더툴 아래쪽 테두리 */
}

.charttools .selectcoin,
.charttools .selecttime {
    padding: 10px;
    margin: 0 5%;
    border-radius: 5px; /* 셀렉트 박스 모서리 둥글게 */
    border: 1px solid #ced4da; /* 셀렉트 박스 테두리 색상 */
    font-size: 16px;
    outline: none; /* 셀렉트 박스 클릭 시 테두리 제거 */
}

.charttools-right {
    margin: 0 5%;
}

.charttools > div {
    display: flex;
    align-items: center;
}

.charttools .nickname {
    margin-right: 10px; /* 닉네임과 리로드 버튼 사이 간격 조정 */
    font-size: 16px;
    font-weight: bold; /* 닉네임 글자 굵게 */
}

.charttools .reloadbtn {
    padding: 10px;
    color: white; /* 버튼 텍스트 색상 */
    background-color: #007bff; /* 버튼 배경 색상 */
    border: none;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스를 버튼 위에 올렸을 때 커서 모양 변경 */
    font-size: 16px;
}

.charttools .reloadbtn:hover {
    background-color: #0056b3; /* 마우스를 버튼 위에 올렸을 때 배경 색상 변경 */
}

.charts {
    align-items: center;
}

.charts .chart {
    width: 100%;
    height: 500px;
}

/* .info {
    width: 81%;
    margin-left: 5%;
    margin-top: 20px;
    background-color: ghostwhite;
    font-size: 24px;
    border: 1px solid darkgoldenrod;
} */
/* .info div {
    text-align: center;
}
.info div:nth-child(1) {
    font-size: 32px;
}
.info .check {
    font-size: 12px;
} */

/* table {
    margin: 0 auto;
    border: 1px solid black;
}
tr {
    height: 20px;
}
td {
    border: 1px solid black;
}
*/

.up {
    color: green;
}
.down {
    color: red;
}
