/* .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
} */

/* FreeboardDetail.css */

.qnaboarddetail {
    font-family: "Arial", sans-serif;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.qnaboarddetail .post {
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.qnaboarddetail .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.qnaboarddetail .post hr {
    border: 0;
    height: 1px;
    background: #ddd;
}

.qnaboarddetail p {
    color: #666;
    line-height: 1.6;
}

.qnaboarddetail .post_edit {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.qnaboarddetail .post_edit:hover {
    background-color: #007bff;
    color: #fff;
}

.qnaboarddetail textarea {
     width: 100%;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none; /* 크기 조정 비활성화 */
}

.qnaboarddetail .comment_edit {
    display: inline-block;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qnaboarddetail .comment_edit:hover {
    background-color: #0056b3;
}

.qnaboarddetail .qnaComment-list {
    width: 100%;
    margin-top: 30px;
}

.qnaboarddetail .qnaComment {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.qnaboarddetail .qnaComment:last-child {
    border: none;
}
