/* Qnaboard.css */

body {
    font-family: "Arial", sans-serif;
}

.qnaboard {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.qnatitle {
    text-align: center;
    color: #333;
    padding: 20px 0;
}

.post-list {
    width: 80%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.post:last-child {
    border: none;
}

.post a {
    text-decoration: none;
    color: #007bff;
}

.post a:hover {
    color: #0056b3;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.writebtn {
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.writebtn:hover {
    background-color: #007bff;
    color: #fff;
}
