[Unit]
Description=coinapi Node.js Service

[Service]
ExecStart=/home/ubuntu/2024_LabStudy/backend/index.js
Restart=always
Group=nogroup
WorkingDirectory=/home/ubuntu/2024_LabStudy/backend

[Install]
WantedBy=multi-user.target