.freeboardwrite {
    padding: 20px;
    padding-left: 30px;
}

.freeboardwrite div {
    margin-top: 30px;
    margin-left: 50px;
}

#title_txt {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#title_txt:focus { outline : none; }

#content_txt {
    width: 91%;
    resize: none;
    border: none;
    height: 500px
}

#content_txt:focus { outline : none; }