/* .freeboardwrite {
    padding: 20px;
    padding-left: 30px;
}

.freeboardwrite div {
    margin-top: 30px;
    margin-left: 50px;
}

#title_txt {
    width: 91%;
    padding-bottom: 30px;
    border: none;
    font-size: 22px;
    border-bottom: solid 1px #ababab;
    font-weight: bold;
}

#title_txt:focus { outline : none; }

#content_txt {
    width: 91%;
    resize: none;
    border: none;
    height: 500px
}

#content_txt:focus { outline : none; } */

/* FreeboardWrite.css */

.freeboardwrite {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px; /* 원하는 최대 너비를 지정 */
    margin: 0 auto; /* 레이아웃을 페이지 중앙에 배치 */
    padding: 20px;
}

.freeboardwrite #title_txt,
.freeboardwrite #content_write {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; /* 텍스트 상자의 모서리를 둥글게 */
    border: 1px solid #ddd; /* 테두리 색상 지정 */
    font-size: 16px;
}

.freeboardwrite #content_write {
    height: 200px; /* textarea 높이 지정 */
}

.freeboardwrite .post_submit {
    width: 100%;
    padding: 10px;
    color: white; /* 텍스트 색상 */
    background-color: #007bff; /* 버튼 배경 색상 */
    border: none;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스를 버튼 위에 올렸을 때 커서 모양 변경 */
    font-size: 16px;
}

.freeboardwrite .post_submit:hover {
    background-color: #0056b3; /* 마우스를 버튼 위에 올렸을 때 배경 색상 변경 */
}
